<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{user?.username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="user">

    <ion-card>
      <img [src]="img ?? user.avatarUrl" (click)="takePicture()"/>
      <ion-card-header>
        <ion-card-title>{{user.name}}</ion-card-title>
        <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{user.website}}</ion-text>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Adresse</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-text>{{user.address.suite}} {{user.address.street}} </ion-text>
              <ion-text>{{user.address.zipcode}} {{user.address.city}}</ion-text>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>

      <ion-button [href]="'tel:' + user.phone">
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>

      <ion-button [href]="'mailto:' + user.email">
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>

      <ion-button [href]="'https://www.google.com/maps/@' + user.address.geo.lng + ',' + user.address.geo.lat">
        <ion-icon slot="icon-only" name="navigate-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </div>

</ion-content>
