<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar placeholder="Rechercher une pizza..."></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>4 Fromages</ion-label>
      <ion-button color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>
