<ion-header>
  <ion-toolbar>
    <ion-title>
      Nos pizzas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-col>
      <ion-card>
        <img src="https://static.750g.com/images/640-420/40aa1a90bb47bba1a235eeb66eb11e4b/gettyimages-954475908.jpg"/>
        <ion-card-header>
          <ion-card-title>4 Fromages </ion-card-title>
          <ion-card-subtitle>Prix: 11.99€</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Coulis de tomate, parmesan râpé, gorgonzola, mozzarella, bûchette de chèvre, origan séché
        </ion-card-content>
        <ion-item>
          <ion-button slot="end">
            <ion-icon slot="start" name="bag-add-outline"></ion-icon>
            <ion-label>Ajouter au panier</ion-label>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
