<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox 2
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Default input {{inputValue}}</ion-label>
    <ion-input [(ngModel)]="inputValue"></ion-input>
  </ion-item>

<app-message [message]="messages[0]" (event)="onChildEvent($event)"></app-message>

  <ion-list>
    <ion-item *ngFor="let user of users" [disabled]="user.id === 4" [routerLink]="'/user/' + user.id">
      <ion-avatar slot="start">
        <img [src]="user.avatarUrl" />
      </ion-avatar>
      <ion-label>
        <h3>{{user.username}}</h3>
        <p>{{user.website}}</p></ion-label>
    </ion-item>

  </ion-list>
</ion-content>
